@import url("https://fonts.googleapis.com/css2?family=Lugrasimo&family=Monoton&family=Open+Sans:ital,wght@0,500;0,600;0,700;1,400&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f1e9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ////////////////////////////////////////////////////////////////// */
/* App Component */
.App {
  height: 100vh;
  width: 100%;
  background-color: #f6f1e9;
  color: #fff;
}

video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.home {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
}

.overlay {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: #312f2fcc;
  top: 0;
  left: 0;
}

/* ////////////////////////////////////////////////////////////////// */
/* Nav Container */

nav {
  display: flex;
  justify-content: space-around;
}

ul {
  display: flex;
  gap: 2em;
}

ul li {
  list-style-type: none;
}

.nav-items li:hover {
  cursor: pointer;
  transition: 0.5s;
  color: #ac3a0d;
}

span {
  color: #b8621b;
}

em {
  font-family: "Lugrasimo";
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 1em;
  text-decoration: none;
}

/* Main Container */
.main-container {
  display: flex;
  height: 100%;
  width: 100%;
  margin-left: 5%;
  align-items: center;
}

.main-container h1 {
  font-size: 60px;
  /* font-family: 'Monoton'; */
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  cursor: pointer;
}

/* ////////////////////////////////////////////////////////////////// */
/* Menu Container */
.menu-container {
  height: 100vh;
  width: 100%;
  background-color: #f8cba6;
}

/* ////////////////////////////////////////////////////////////////// */
/* Input Elements */
/* Search Input */
.input-container {
  width: 220px;
  position: relative;
}

.icon {
  position: absolute;
  right: 10px;
  top: calc(50% + 5px);
  transform: translateY(calc(-50% - 5px));
}

.input {
  width: 100%;
  height: 15px;
  padding: 10px;
  transition: 0.2s linear;
  border: 2.5px solid black;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 1em;
  margin-right: 5%;
}

.input:focus {
  outline: none;
  border: 0.5px solid black;
  box-shadow: -5px -5px 0px black;
}

.input-container:hover > .icon {
  animation: anim 1s linear infinite;
}

/* ////////////////////////////////////////////////////////////////// */
/* Media Queries */
/* Media query for screens sized below 800px */
@media screen and (max-width: 880px) {
  .nav-items {
    display: none;
  }
  .main-container {
    display: block;
    margin-left: 10%;
  }
  nav {
    justify-content: space-around;
  }
}

/* Media query for screens sized below 1300px */
@media screen and (max-width: 1300px) {
  .main-container {
    display: block;
    margin-left: 15%;
  }
}
